@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
*{
    margin: auto;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #01FE87;
}
li{
    list-style: decimal;
}

#SelectedCard{
    background-color: #37003C;
    padding: 20px;
}
#BudgetCard{
    background-color: #37003C;
    padding: 20px;
}

footer{
    background-color: #37003C;

}